<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="./main.css" />
  <title>Main Page</title>
</head>

<body>
  <h1>Welcome to our "News Website"</h1>

  <main>
    <div class="container">
      <ul>
        <% for (let item of news) {%>

          <li>
            <a href=<%="/posts/" + String(item.id) %> ><%= item.title %></a>
          </li>

          <% } %>
      </ul>
    </div>
  </main>
</body>

</html>