body {
  background-color: teal;
  color: white;
}

li {
  width: 500px;
  list-style: none;
}

li a {
  display: block;
  color: white;
  padding: 20px;
  font-size: 20px;
  border: 1px solid white;
  text-decoration: none;
}

li a:hover {

  color: teal;
  background: white;
}